<h1><%= @task.title %></h1>

<p><%= @task.details %></p>

<p>Completed: <%= @task.completed %></p>

<%= link_to "Edit this task", edit_task_path %>

<%= link_to "Delete this task", task_path(@task), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this task?"} %>

<%= link_to "Back to list", tasks_path %>
